@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&display=swap');

body {
    display: grid;
    grid-template-columns: 320px calc(100% - 320px);
    grid-template-rows: 1fr;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Lora', serif;
    font-weight: 400;
}

.container {
    &--left {
        background-color: #222;
        color: #fff;
        height: 100vh;
        width: calc(100% - 20px);
        padding: 20px 0 0 20px;
    }

    &--right {
        height: calc(100vh - 40px);
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 320px;
        grid-template-rows: 1fr;
    }
}

.heading {
    border-bottom: 1px solid #fff;
    padding: 20px 0;
    margin-right: 20px;

    &__datetime {
        margin: 0;
    }
}

.links {
    display: flex;
    flex-direction: column;
}

.link {
    padding: 0;
    margin: 5px 0;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    filter: grayscale(100);
    -webkit-filter: grayscale(100);
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;

    &__image {
       width: 50px;
       height: 50px;
       object-fit: cover;
       margin-right: 20px;
       border-radius: 1px;
       -webkit-border-radius: 1px;
       -moz-border-radius: 1px;
       -ms-border-radius: 1px;
       -o-border-radius: 1px;
}

    &:hover {
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
        background-color: #333;
    }
}

.switches {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 320px;
    display: flex;
    justify-content: flex-end;
}

.switch {
    outline: none;
    border: 1px solid white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: transparent;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;

    &:hover {
        cursor: pointer;
        background-color: white;
        color: #222;
    }
}

.writing {
    display: flex;
    flex-direction: column;

    &__prompt {
        align-self: center;
        margin: 30px 150px 0;
        font-size: 22px;
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 1px solid black;
    }

    &__form {
        display: flex;
        justify-content: center;
        align-items: start;
        align-self: center;
        width: 100%;
        height: 100%;
        position: relative;

        &--fade {
            pointer-events: none;
            position: absolute;
            top: 0;
            width: calc(100% - 250px);
            height: 100%;
            background: linear-gradient(
                rgba(255,255,255,1) 0%,
                rgba(255,255,255,.8) 5%,
                rgba(255,255,255,0) 9%,
                rgba(255,255,255,0) 91%,
                rgba(255,255,255,.8) 95%,
                rgba(255,255,255,1) 100%
            );
        }

        &--textarea {
            width: calc(100% - 350px);
            height: calc(100% - 100px);
            border: none;
            outline: none;
            padding: 50px 50px;
            font-size: 20px;
        }
    }

    &__wordcount {
        text-align: right;
        margin-right: 130px;
        margin-left: 20px;
    }

    &__end {
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
    }

    &__secret {
        border: none;
        outline: none;
        padding: 2px;
        border-bottom: 1px solid black;
    }

    &__submit {
        font-size: 16px;
        border: none;
        outline: none;
        background-color: white;
    }
}

textarea {
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #eee;
        border-radius: 20px;
        border: 6px solid transparent;
        background-clip: content-box;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #ddd;
    }
}

.wotd {
    border-left: 1px solid black;
    padding-left: 20px;
    max-height: 100vh;
    overflow-y: scroll;

    &__header {
        color: #777;
        border-bottom: 1px solid #777;
    }

    &__subhead {
        margin-bottom: 0;
        font-size: 12px;
    }

    &__pos {
        color: #777;
    }

    &__definition {
        margin-top: 5px;
        font-size: 12px;
    }

    &__example {
        font-style: italic;
        font-size: 12px;
    }

    &::-webkit-scrollbar {
        width: 0px;
    }
}