{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>Welcome</title>

    <link rel="canonical" href="https://{{ request.get_host }}{{ request.get_full_path }}" />
    <link rel="stylesheet" href="{% sass_src 'css/base.scss' %}" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  </head>
  <body>
    <div class="container--left">
      <section class="heading">
        <h2 class="heading__datetime">{% now 'F jS, Y' %}</h2>
        <p id="time" class="heading__datetime"></p>
      </section>
      <section class="links">
        {% for link in links %}
          <a class="link" href="{{ link.url }}">
            <img class="link__image" src="{{ link.icon.url }}" /> {{ link.name }}
          </a>
        {% endfor %}
      </section>
    </div>
    <div class="container--right">
      <section class="writing">
        <h1>Prompt</h1>
      </section>
      <section class="wotd">
        <h1>Word of the Day</h1>
      </section>
    </div>
  </body>
  <script>
    /* display time */
    var element = document.getElementById("time");

    window.setInterval(function() {
      var d = new Date();
      var hr = d.getHours();
      var min = d.getMinutes();
      var ampm = "a.m.";

      if (min < 10) { min = "0" + min; }
      if (hr > 12) {
        hr -= 12;
        ampm = "p.m.";
      }

      element.innerHTML = `${hr}:${min} ${ampm}`;
    }, 500);
  </script>
</html>